                        /*stili generali della pagina*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:white;
    color: black;
}

:root{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

                            /*header*/                         

/*nav*/

nav{
    height: 75px;
    background-color: white;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#logo{
    vertical-align: middle;
    margin-right: 30px;
}

.nav-option{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

#first-nav-section{
    margin-left: 15px;
    
}

#second-nav-section{
    margin-right: 15px;
}

.start{
    background-color: #0061ff;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
}

 /*jumbotron*/

 #jumbotron{
    background-color: #b5d0e6;
    height: 750px;
 }

 h1{
    padding-top: 50px;
    font-size: 80px;
    font-weight: 1000;
    width: 60%;
    margin: auto;
 }

 #container-header{
    width: 70%;
    margin: auto;
    text-align: left;
    display: flex;
    flex-direction: row;
 }

 #container-header-flex{
    flex-direction: column;

 }

 #p-header{
    width: 400px;
    margin-top: 50px;
    margin-bottom: 40px;
 }

 #jumbotron-img-box{
    display: flex;
    align-items: row;
    padding-top: 50px;
 }

 .jumbo{
    background-color: #0061ff;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    padding: 10px;
    font-weight: 200;
    font-size: 17px;
 }

 #delete{
    margin-top: 40px;
 }

 #jumbo-img{
    width: 1000px;
    height: 520px;
    align-self: flex-end;
 }

 .fa-arrow-down{
    margin-top: 120px;
    font-size: 50px;
 }

                         /*main*/

main{
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /*debug*/
    background-color: rgb(255, 255, 255);
}

/*blocco prezzi contattami e aziende affiliate*/

h2{
    margin-top: 150px;
    font-size: 50px;
}

#checkbox{
    margin-top: 40px;
}

.fatturazione{
    margin-right: 50px;
}

/*blocco prezziario*/

#container-prices{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-price-block{
    width: calc(100% / 3 - 40px);
    margin: auto;
    margin-top: 50px;
    border: 1px #dddddd solid;
    min-height: 1200px;
    font-size: 18;
}

.user{
    text-align: center;
    border-bottom: 1px #dddddd solid;
    padding: 10px;
}

h3{
    font-size: 30px;
}

.main-price-block-content{
    padding: 30px;
}

.month{
    color: grey;
}

.type{
    margin-top:20px;
    margin-bottom: 20px;
}

.space{
    margin: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.type2{
    padding-top: 30px;
}

.or{
    border-bottom:1px #dddddd solid ;
    padding-bottom: 30px;
}

h4{
    margin-top: 70px;
}

.fa-check{
    color: #0061ff;
}

/*blocco orizzontale*/

.main-price-block-horizontal{
    width: 100%;
    margin: auto;
    margin-top: 50px;
    border: 1px #dddddd solid;
    font-size: 18px;
    
}

#horizontal-container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

#horizontal-main{
    width: 700px;
    
}

#horizontal-secondary{
    margin-top: 40px;
}


p{
   margin-top: 40px; 
   font-size:15px ;
}

/*blocco con foto grande partner*/

#partner{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#partner-pic{
    width: 600px;
}

#didascalia{
    margin: 50px;
    max-width: 350px;
}

.partner-button{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px black solid;
    padding: 5px 15px;
    text-decoration: none;
    padding: 10px;
    font-weight: 200;
    font-size: 17px;
}

/*blocco  in flex con le varie funzioni di dropbox*/

.column{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.row{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
}

.card{
    margin: 15px;
    margin-bottom: 50px;
}

.main-img-flex{
    max-width: 100%;
}

                           /*footer*/


/*sezione carousel*/

#carousel-container{
    margin-top: 50px;
    width: 100%;
    height: 600px;
    background-color: #f4f4f5;
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}

.squares-box{
    width: calc(100% / 3);
    background-color: aqua;
    display: flex;
}

#text-box{
    width: calc(100% / 3);
    background-color: #f4f4f5;
    padding: 50px;
    overflow-y: scroll;
}

.col{
    flex-direction: column;
    width: calc(100% / 2);
    display: flex;
}

.squares{
    flex-direction: row;
    height:calc(100% / 2);
}

.mini-square{
    width: 100%;
    height: 100%;
    background-color: #a2d29a;
    justify-content: center;
    display: flex;
}

.florida{
    background-color: #0193cf;
}

.arizona{
    background-color: #61082b;
}

.topps{
  
    background-color:#ff1c1c;
}

.wbr{
    background-color:#d5001f;
}

.lp{
    background-color:#0c2480;
}

.hc{
    background-color:#b5d1e7;
}

.cc{
    background-color:#fed930;
}

.img-carousel{
    color: white;
    width: 100%;
    padding: 50px;
    filter: invert(1);
    object-fit: contain;
}

.selected{
    border: 15px solid rgba(255, 255, 255, 0.514);
}

/*sezione porta dropbox nella tua azienda*/

#bring{
    width: 100%;
    height: 400px;
    background-color:#b5d1e7 ;
    display: flex;
}

#bring-box{
    width: 60%;
    justify-content: space-between;
    display: flex;
    margin: auto;
    align-items: center;
}

#bring-title{
    margin: 50px;
    width: 600px;
    color: #61082b;
    margin-left: -25px;
}

#bring-button{
    background-color: white;
    text-decoration: none;
    font-size: 17px;
    color: black;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

/*faq*/

#faq-container{
    display: flex;
    width: 60%;
    margin: auto;
    flex-direction: column;
    height: 800px;
}

.question-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px black  solid;
    margin-top: 100px;
}

.difference{
    margin: 40px;
    margin-left: 0px;
    margin-bottom: -50px;
    
}

.border-bottom{
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}


/*sezione link utili*/

#container-utility{
    width: 100%;
    background-color: black;
    color: white;
    min-height: 500px;
}

#box-utility{
    width: 70%;
    margin: auto;
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
}

ul{
    list-style: none;
    font-size: 20px;
    font-weight: bolder;
}

li{
    font-size: 18px;
    font-weight: 200;
    margin-top: 10px;
}

#nation{
    width: 70%;
    margin: auto;
}

#nation-block{
    width: 10%;
    font-size: 17px;
    font-weight: lighter;
    text-decoration: none;
    color: grey;
    margin-top: 200px;
    border-top: white 1px solid;
    font-style: none;
    padding-top: 50px;
    padding-bottom: 50px;
}